html,
body {
  padding: 0;
  margin: 0;
  background-color: #1E1E1E;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 h1 {
  text-align: center;
  color: #812990;
  font-size: 50px;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
 }

 h2 {
  color: #812990;
 }

 h3 {
  color: #812990;
 }

p {
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wicys-purple {
  color: #812990;
}

.wicys-green {
  color: #68B761;
}

.wicys-blue {
  color: #006894;
}

img { 
  float: left; 
  margin: 5px; 
} 